.App {
  display: flex;
  text-align: center;
  background: linear-gradient(45deg, #0a0a0a, #4d1c23);
  background-size: 400%, 400%;
  min-height: 100vh;
  justify-content: center;
  animation: gradientBackground 15s ease infinite;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App .landingPage {
  height: 20vh;
  margin-top: 20vh;
  animation: slideUp 2s forwards;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top:20vh;
  padding-bottom:20vh;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  border: 5px double #d72f20;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
}

input, select, textarea{
  padding-left: 10px;
  color: white;
}

.title {
  display: flex;
  margin: 0;
  align-items:center;
  justify-content: center;
  transform: translateY(-14vh);
}

#introText {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110px;
  color: #d72f20;
}

#chaotifyLogo {
  height:100px;
  width:100px;
  margin:0;
  padding-right:30px;
}

#genreInput {
  width: 40vw;
  height: 5vh;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  border-radius: 1vh;
  background-color: rgba(255, 255, 255, 0.04);;
  margin-top: 10px;
  font-size: 30px;
  padding-left: 10px;
  transform: translateY(-20vh);
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  } to {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.slideOut {
  animation: slideOut 2s forwards !important;
  /* background: blue; */
}


