.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideUpInput {
  from {
    opacity: 0;
    margin-top: 60px;
  }
  to {
    opacity: 1;
    margin-top: 40px;
  }
}

.landingPage {
  animation: slideUp 2s forwards;
  padding: 30vh;
}

#introText {
  margin: 0;
  flex-direction: column;
  justify-content: center;
  font-size: 60px;
  color: white;
}

#genreInput {
  transform: translateY(90%);
  width: 40vw;
  height: 5vh;
  border-color: white;
  border-width: 2px;
  border-radius: 0.2vh;
  background-color: #282c34;
  margin-top: 20px;
  font-size: 30px;
}


